.MuiDataGrid-cell, .MuiDataGrid-colCellTitle {
    font-size: 16px;
  }
.store-input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.store-input{
    margin: 5px 0px;
    display: flex;
    width: 250px;
    align-items: center;
}
.label-container{
    width: 50%;
}
.input-container{
    width: 50%;
}