.home-container{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 1120px;
}
.count-up-container{
    display: flex;
    justify-content: space-between;
}
.count-up-sub-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.count-up-img-container{
    img{
        border-radius: 10px;
    }
}